<main id="container-main" class="container">
  <div class="custom-card">
    @if (isLogged) {
      <app-user-profile
        [userAvatar]="userAvatar"
        [userEmail]="userEmail"
        [userName]="userName"
      ></app-user-profile>
    } @else {
      <google-auth-button />
    }
  @if (isExtensionLoading) {
    <div class="spinner">
      <mat-spinner [diameter]="200"></mat-spinner>
    </div>
  } @else if (isExtensionLoading === false) {
    @if (isLinkedinPage === false) {
    <div id="not-linkedin-page">Not a LinkedIn profile page</div>
    } @else {
      @if (alreadyContacted) {
        <contacted [status]="candidate!.status" ></contacted>
      } @else {
        <div class="card-content">
          <position-wizard
          (candidateEvaluation)="candidateEvaluatedHandler($event)"
          [evaluation]="evaluation"
          [positions]="positions"
          [messageGenerated]="messageGenerated"
          ></position-wizard>
    
          <!-- Loader -->
          @if (isLoading) {
          <div>
            <span>{{ loadingMessage }}</span>
            <mat-progress-bar mode="query"></mat-progress-bar>
          </div>
          } @if (messageGenerated) {
          <div style="margin-bottom: 20px;">Message generated! Check your LinkedIn chat window.</div>
          }
        </div>
        <div class="card-actions">
          @if(candidateEvaluated === true) {
            <button
                mat-raised-button
                (click)="generateMessage()"
                color="primary"
                class="btn generate"
                [disabled]="isLoading"
              >
                <mat-icon
                  aria-hidden="false"
                  aria-label="generate message"
                  fontIcon="create"
                ></mat-icon>
                Generate message
              </button>
          }
          @if(messageGenerated) {
            <button
                mat-raised-button
                (click)="markAsContacted()"
                color="primary"
                class="btn generate"
                [disabled]="isLoading"
              >
                <mat-icon
                  aria-hidden="false"
                  aria-label="mark as contacted"
                  fontIcon="checkmark"
                ></mat-icon>
                Mark as contacted
              </button>
          }
        </div>
      }
    }
  }
</div>
</main>
